node_modules/
dist/

# OS
.DS_Store
Thumbs.db

# Editor
*.swp
*.swo
.idea/
.vscode/
.obsidian/
*.sublime-workspace

# Env
.env
.env.*

# Coverage
coverage/

# Logs
*.log
npm-debug.log*

# Build
*.tsbuildinfo

# Misc
*.tgz
